*{
  margin: 0;
  padding: 0;
  /* background: indigo; */
}
/* body{
  background: indigo;
} */

.container{
  width: 500px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 1px 7px 10px #000;
  background: cornflowerblue;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
button {
  border: none;
  padding: 8px 15px;
  outline: none;
  border-radius: 10px;
  color: rgb(247, 100, 100);
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
button:active {
  transform: scale(0.95);
}
button.success {
  background: rgb(78, 170, 54);
}
button.danger {
  background: rgb(170, 54, 89);
}
